[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/bbcallen/FFmpeg.git
[submodule "x264"]
	path = x264
	url = git://git.videolan.org/x264.git
[submodule "freetype2"]
	path = freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "sox"]
	path = sox
	url = git://git.code.sf.net/p/sox/code
